.App header {
  margin: auto;
  padding: 10px 0;
  width: 1280px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: -10px;

  .logo {
    display: flex;
    align-items: center;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    width: 632px;
    height: 100px;
    > * {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  .login-action {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }

  button {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
}
